.dencoder-textarea {
  height: 50vh;
  width:100%;
}

.decoded-value, .encoded-value {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.nav-tabs button.nav-item {
  border-bottom: 1px solid #dee2e6;
}

.nav-tabs button.nav-item:focus {
  outline:0;
}